<header class="main-table-header">
    <div class="row">
        <div class="col-lg-12">
            <form>
                <button type="button" ng-repeat="buttons in $ctrl.buttons" ng-click="$ctrl.buttonAction(buttons.id)" ng-disabled="buttons.disabled == 1" class="{{buttons.bootstrapClass}} {{buttons.view}}">
                    <span ng-if="buttons.id == 1">Текущий операционный день ({{$root.currentDay}})</span>
                    <span ng-if="buttons.id != 1">{{buttons.text}}</span>
                </button>
            </form>
        </div>       
    </div>
</header>
<div ng-if="$ctrl.table">
    <table id="data-table" class="table table-bordered table-hover tablesorter">
        <thead id="data-table-head">
            <tr>
                <th class="th-sortable no-sc" ng-click="$ctrl.sort('createDate')" ng-class="$ctrl.sortClass('createDate')">
                    Дата формирования ED230
                 </th>
                <th class="th-sortable no-sc" ng-click="$ctrl.sort('cpd')" ng-class="$ctrl.sortClass('cpd')">
                    CPD
                 </th>
                <th class="th-sortable no-sc" ng-click="$ctrl.sort('fileName')" ng-class="$ctrl.sortClass('fileName')">
                    Имя файла c ED230
                </th>
                <th class="th-sortable no-sc" ng-click="$ctrl.sort('originalFileName')" ng-class="$ctrl.sortClass('originalFileName')">
                    Имя файла Бэк-офиса
                </th>
                <th class="th-sortable no-sc" ng-click="$ctrl.sort('scheme')" ng-class="$ctrl.sortClass('scheme')">
                    ПС
                </th>
                <th class="th-sortable no-sc" ng-click="$ctrl.sort('status')" ng-class="$ctrl.sortClass('status')">
                    Статус ED230
                </th>
                <th class="th-sortable no-sc" ng-click="$ctrl.sort('comment')" ng-class="$ctrl.sortClass('comment')">
                    Комментарий
                </th>
                <th class="th-sortable no-sc" ng-click="$ctrl.sort('registerItemsQuantity')" ng-class="$ctrl.sortClass('registerItemsQuantity')">
                    Количество позиций в реестре
                </th>
                <th class="th-sortable no-sc" ng-click="$ctrl.sort('registerDebetSum')" ng-class="$ctrl.sortClass('registerDebetSum')">
                    Сумма дебетовых оборотов
                </th>
                <th class="th-sortable no-sc" ng-click="$ctrl.sort('registerCreditSum')" ng-class="$ctrl.sortClass('registerCreditSum')">
                    Сумма кредитовых оборотов
                </th>            
                <th>
                    Документ
                </th>
            </tr>           
        </thead>
        <tbody>
            <tr ng-repeat="row in $ctrl.table | orderBy:$ctrl.orderProp" data="row-{{row.id}}" ng-class="{{row.error}} ? 'danger' : ''">
                <td>{{row.createDate}}</td>
                <td>{{row.cpd}}</td>
                <td>{{row.fileName}}</td>
                <td>{{row.originalFileName}}</td>
                <td>{{row.scheme}}</td>
                <td>
                    <div ng-if="$root.userRole == 'ADMIN'" >
                        <span class="block">{{row.status}}</span>
                        <a href="" class="small block" title="Поменять статус" ng-click="$ctrl.changeStatusInit(row.id)">изменить</a>
                    </div>
                    <div ng-if="$root.userRole != 'ADMIN'">
                        <span class="block">{{row.status}}</span>
                    </div>             
                </td>            
                <td>{{row.comment}}</td>
                <td>{{row.registerItemsQuantity}}</td>
                <td>{{row.registerDebetSum}}</td>
                <td>{{row.registerCreditSum}}</td>            
                <td class="get-document"><a href="" class="btn btn-default" href="/table/3" ng-click="$ctrl.getDocument(row.id, row.fileName)" role="button">Посмотреть</a><a class="btn btn-warning second-button" href="" ng-click="$ctrl.editDocument(row.id)" role="button" ng-if="!row.exported && $root.userRole == 'ADMIN'">Редактировать</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="$ctrl.isLongTime" class="common-wait">
    <img src="img/loading.gif" />Нужно немного подождать</div>    
</div>
<div ng-if="$ctrl.isTimeout" class="common-wait">
    <p>К сожалению, нет связи с сервером</p>
    <p><a href="" ng-click="$root.reload()" title="Перезагрузка" class="btn btn-default btn-lg" role="button">Попробовать ещё раз</a></p>    
</div>