<header class="main-table-header">
    <div class="row">
        <div class="col-lg-6">
            <button type="button" class="btn btn-lg btn-default" disabled="disabled">Текущий операционный день ({{$root.currentDay}})</button>
        </div>
        <div class="col-lg-6">
            <button type="button" class="pull-right table1button btn btn-lg btn-primary" ng-click="$ctrl.sendFiles()" ng-disabled="$ctrl.getIfChosen()">Загрузить файлы Бэк-офиса в x3x</button>            
        </div>    
    </div>
</header>
<div ng-if="$ctrl.table">
    <table id="data-table" class="table table-bordered table-hover tablesorter">
        <thead id="data-table-head">
            <tr>
                <th>
                    №
                 </th>
                <th class="th-sortable no-sc" ng-click="$ctrl.sort('fileName')" ng-class="$ctrl.sortClass('fileName')">
                    Имя файла Бэк-офиса
                 </th>
                <th class="th-sortable no-sc fixed-40" ng-click="$ctrl.sort('error')" ng-class="$ctrl.sortClass('error')">
                    Контроль
                </th>            
            </tr>                     
        </thead>
        <tbody>
            <tr class="condensed">
                <td class="border-only-left"></td>
                <td class="borderless"></td>
                <td class="border-only-right"><small><a href="" title="Отметить все пункты" ng-click="$ctrl.chooseAll()">{{$ctrl.chooseAllText}}</a></small></td>
            </tr>  
            <tr ng-repeat="row in $ctrl.table | orderBy:$ctrl.orderProp">
                <td>{{$index+1}}</td>
                <td>{{row.fileName}}</td>            
                <td ng-if="row.error" class="danger">
                    {{row.error}}
                </td>
                <td ng-if="!row.error">            
                    <form><input type="checkbox" ng-checked="row.ifChecked" ng-click="$ctrl.chooseFile(row.fileName, $index)"/></form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="$ctrl.isLongTime" class="common-wait">
    <img src="img/loading.gif" />Нужно немного подождать</div>    
</div>
<div ng-if="$ctrl.isTimeout" class="common-wait">
    <p>К сожалению, нет связи с сервером</p>
    <p><a href="" ng-click="$root.reload()" title="Перезагрузка" class="btn btn-default btn-lg" role="button">Попробовать ещё раз</a></p>    
</div>

